


$primary: #0984e3;
$bg-main: #f8f9fa;
$bg-white: #ffffff;
$text-main: #2d3436; 
$primary-blue: #0984e3;
$border-color: #dfe6e9;
$border: #dfe6e9;


$bp-mobile: 320px;
$bp-tablet: 641px;
$bp-desktop: 1024px;
$bp-large: 1281px;